<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	<ui:define name="footer" />

	<ui:define name="content">
		<h:form id="form">
		
		   <p:panel header="Criar Usuário" style="margin-bottom:20px">
		        <h:panelGrid columns="3" cellpadding="5">
		            <h:outputLabel for="name" value="Nome:*" style="font-weight:bold"/>                    
		            <p:inputText id="name" value="#{userController.user.name}" required="true" label="Nome"/>
		            <p:message for="name" />
		            
		            <h:outputLabel for="password" value="Senha:*" style="font-weight:bold"/>                    
		            <p:password id="password" value="#{userController.user.password}" required="true" label="Senha" maxlength="9" feedback="true"/>
		            <p:message for="password" />
		            
		            <h:outputLabel for="desc" value="Descrição:*" style="font-weight:bold"/>                    
		            <p:inputText id="desc" value="#{userController.user.description}" required="true" label="Descrição"/>
		            <p:message for="desc" />
		            
		            <h:outputLabel for="name" value="Admin" style="font-weight:bold"/>                    
        				<p:selectBooleanCheckbox id="admin" value="#{userController.user.admin}" label="Admin"/>
		            <p:message for="admin" />
            
		            <p:commandButton id="btn_reset" value="Limpar" type="reset"/>
		            <p:commandButton id="btn_add" value="Salvar" update="users @parent" action="#{userController.addUser()}"  >
		                <p:collector value="#{userController.user}" addTo="#{userController.userList}" unique="true"/>
		            </p:commandButton>
		        </h:panelGrid>
		    </p:panel>
		
		    <p:outputPanel id="users">
		        <p:dataTable value="#{userController.userList}" var="data" id="userTable">
		 
		            <p:column headerText="Nome">
		                <h:outputText value="#{data.name}" />
		            </p:column>
		 
		            <p:column headerText="Descrição">
		                <h:outputText value="#{data.description}" />
		            </p:column>
		 
		            <p:column headerText="Admin">
		                <h:outputText value="#{data.admin ? 'Sim' : 'Não'}" />
		            </p:column>
		 
		        </p:dataTable>
		    </p:outputPanel>
		</h:form>
	</ui:define>

</ui:composition>