<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	<ui:define name="footer" />

	<ui:define name="content">
		<h:form id="form">
		
		   <p:panel header="Perfil" style="margin-bottom:20px">
		        <h:panelGrid columns="2" cellpadding="5">
		            <h:outputLabel value="Nome:" style="font-weight:bold"/>                    
		            <h:outputLabel value="#{menuController.currentUser.name}" style="font-weight:bold"/>    
		            
		            <h:outputLabel value="Descrição:" style="font-weight:bold"/>                    
		            <h:outputLabel value="#{menuController.currentUser.description}" style="font-weight:bold"/>    
		            
		            <h:outputLabel value="Admin:" style="font-weight:bold"/>                    
        				<h:outputLabel value="#{menuController.currentUser.admin ? 'Sim' : 'Não'}" style="font-weight:bold"/>    
		        </h:panelGrid>
		    </p:panel>

		</h:form>
	</ui:define>

</ui:composition>