<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	<ui:define name="footer" />

	<ui:define name="content">
		<h:form id="Form" enctype="multipart/form-data">
		   <p:panel header="Criar Gif" style="margin-bottom:20px">
		        <h:panelGrid columns="2" cellpadding="5">
		            <h:outputLabel for="name" value="Nome:* " style="font-weight:bold"/>
		            <p:inputText id="name" value="#{gifController.name}" required="true" label="Nome"/>
		            
					<p:outputLabel value="Gênero:* " style="font-weight:bold"/>
					<p:selectOneMenu id="genre" value="#{gifController.genre}" required="true" >
						<f:selectItem itemValue="#{null}" itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItems value="#{gifController.genres}" var="var" itemLabel="#{var.text}" itemValue="#{var}" />
					</p:selectOneMenu>
		            
					<p:outputLabel value="Classificação:* " style="font-weight:bold"/>
					<p:selectOneMenu id="rating" value="#{gifController.rating}" required="true" >
						<f:selectItem itemValue="#{null}" itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItems value="#{gifController.ratings}" var="var" itemLabel="#{var}" itemValue="#{var}" />
					</p:selectOneMenu>
		            
					<p:outputLabel value="Categoria:* " style="font-weight:bold"/>
					<p:selectOneMenu id="category" value="#{gifController.categoryEntity}" converter="categoryConverter">
						<f:selectItem itemValue="#{null}" itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItems value="#{gifController.categoriesEntity}" var="cat" itemLabel="#{cat.name}" itemValue="#{cat}" />
					</p:selectOneMenu>
		            
					<p:outputLabel value="Idioma:* " style="font-weight:bold"/>
					<p:selectOneMenu id="language" value="#{gifController.language}">
						<f:selectItem itemValue="#{null}" itemLabel="Selecione..." noSelectionOption="true" />
						<f:selectItems value="#{gifController.languages}" var="var" itemLabel="#{var.text}" itemValue="#{var}" />
					</p:selectOneMenu>
	
					<p:outputLabel value="Arquivo:* " style="font-weight:bold"/>
					<p:fileUpload mode="simple" value="#{gifController.uploadedFile}" />

		            <p:commandButton id="btn_reset" value="Limpar" type="reset"/>
		            <p:commandButton id="btn_add" value="Salvar" update="gifs @parent" action="#{gifController.upload}" ajax="false" >
		                <p:collector value="#{gifController.gif}" addTo="#{gifController.gifList}" unique="true"/>
		            </p:commandButton>
		        </h:panelGrid>
		        
		    </p:panel>
		
		    <p:outputPanel id="gifs">
		        <p:dataTable value="#{gifController.gifList}" var="data" id="gifTable">
			
					<p:column>
						<f:facet name="header">
							<h:outputText value="Imagem" />
						</f:facet>
						<p:graphicImage width="100" value="#{gifStream.snapshot}">
							<f:param name="gifId" value="#{data.id}" />
						</p:graphicImage>
					</p:column>
		 
		            <p:column headerText="Código">
		                <h:outputText value="#{data.id}" />
		            </p:column>
		 
		            <p:column headerText="Nome">
		                <h:outputText value="#{data.name}" />
		            </p:column>
			
					<p:column>
						<f:facet name="header">
							<h:outputText value="Categoria" />
						</f:facet>
						<h:outputText value="#{data.category.name}" />
					</p:column>
		            
		            <p:column headerText="Gênero">
						<h:outputText value="#{data.genre.text}" />
					</p:column>
			
		            <p:column headerText="Idioma">
						<h:outputText value="#{data.language.text}" />
					</p:column>
			
		            <p:column headerText="Classificação">
						<h:outputText value="#{data.rating}" />
					</p:column>
					
		        </p:dataTable>
		    </p:outputPanel>
		</h:form>
	</ui:define>

</ui:composition>