<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	
	<ui:define name="content">
		<h:form id="form">
	    		<p:carousel value="#{favoriteController.favorites}" headerText="Meus Favoritos" var="gif" 
	    			itemStyle="height:230px;text-align:center" responsive="true" numVisible="4" cricular="true">
				<p:panelGrid columns="1" style="width:100%;margin:4	0px 0px"
					columnClasses="label,value" layout="grid"
					styleClass="ui-panelgrid-blank">
						<p:graphicImage value="#{gifStream.snapshot}" height="150" >
							<f:param name="gifId" value="#{gif.id}" />
						</p:graphicImage>
		
						<h:outputText value="Nome: #{gif.name}" />
				</p:panelGrid>
				<p:commandButton update=":form:gifDetail" oncomplete="PF('gifDialog').show()" icon="ui-icon-search">
				    <f:setPropertyActionListener value="#{gif}" target="#{favoriteController.selectedGif}" />
				</p:commandButton>
				 
				<p:commandButton update=":form:gifWatchDetail" oncomplete="PF('gifWatchDialog').show()" icon="ui-icon-play">
				    <f:setPropertyActionListener value="#{gif}" target="#{favoriteController.selectedGif}" />
				</p:commandButton>
			</p:carousel>
		
		    <p:dialog header="Detalhes" widgetVar="gifDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
		        <p:outputPanel id="gifDetail" style="text-align:center;">
		            <p:panelGrid columns="2" rendered="#{not empty favoriteController.selectedGif}" columnClasses="label,value">
		                <f:facet name="header">
							<p:graphicImage value="#{gifStream.snapshot}" height="150" >
								<f:param name="gifId" value="#{favoriteController.selectedGif.id}" />
							</p:graphicImage>
		                </f:facet>
	
						<h:outputText value="Nome:" />
						<h:outputText value="#{favoriteController.selectedGif.name}" />
	
						<h:outputText value="Gênero:" />
						<h:outputText value="#{favoriteController.selectedGif.genre}" />
	
						<h:outputText value="Classificação Etária:" />
						<h:outputText value="#{favoriteController.selectedGif.rating}" />
	
						<h:outputText value="Idioma:" />
						<h:outputText value="#{favoriteController.selectedGif.language}" />
						
		            </p:panelGrid>
		            
		        </p:outputPanel>
		    </p:dialog>
		
		    <p:dialog header="Assistindo" widgetVar="gifWatchDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
		        <p:outputPanel id="gifWatchDetail" style="text-align:center;">
		            <p:panelGrid columns="2" columnClasses="label,value">
		                <f:facet name="header">
							<p:graphicImage value="#{gifStream.image}" height="500" >
								<f:param name="gifId" value="#{favoriteController.selectedGif.id}" />
							</p:graphicImage>
		                </f:facet>
		            </p:panelGrid>
		        </p:outputPanel>
		    </p:dialog>
	    </h:form>
	</ui:define>
</ui:composition>