<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	
	<ui:define name="content">
		<p:panelGrid  style="margin: 0 auto;" rendered="#{not empty homeController.gifExamples}" >
			<p:galleria value="#{homeController.gifExamples}" var="gif" panelWidth="500" panelHeight="250" showCaption="true" style="margin: 0 auto;">
				<p:graphicImage value="#{gifStream.image}" height="250" width="500" title="Assista: #{gif.name}">
					<f:param name="gifId" value="#{gif.id}" />
				</p:graphicImage>
			</p:galleria>
						
		</p:panelGrid>
	
		<h:form id="form">
		    <p:dataList value="#{homeController.categories}" var="category" itemType="none">
		    		<p:carousel value="#{category.gifs}" headerText="#{category.name}" var="gif" rendered="#{not empty category.gifs}"
		    			itemStyle="height:230px;text-align:center" responsive="true" numVisible="4" circular="true">
					<p:panelGrid columns="1" style="width:100%;margin:4	0px 0px"
						columnClasses="label,value" layout="grid"
						styleClass="ui-panelgrid-blank">
							<p:graphicImage value="#{gifStream.snapshot}" height="150" >
								<f:param name="gifId" value="#{gif.id}" />
							</p:graphicImage>
			
							<h:outputText value="Nome: #{gif.name}" />
					</p:panelGrid>
						
						<p:commandButton update=":form:gifDetail" oncomplete="PF('gifDialog').show()" icon="ui-icon-search">
						    <f:setPropertyActionListener value="#{gif}" target="#{homeController.selectedGif}" />
						</p:commandButton>
						 
	               <p:commandButton update=":form:gifWatchDetail" oncomplete="PF('gifWatchDialog').show()" icon="ui-icon-play">
	                   <f:setPropertyActionListener value="#{gif}" target="#{homeController.selectedGif}" />
	               </p:commandButton>
				</p:carousel>
				
		    </p:dataList>
		
		    <p:dialog header="Detalhes" widgetVar="gifDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
		        <p:outputPanel id="gifDetail" style="text-align:center;">
		            <p:panelGrid columns="2" rendered="#{not empty homeController.selectedGif}" columnClasses="label,value">
		                <f:facet name="header">
							<p:graphicImage value="#{gifStream.snapshot}" height="150" >
								<f:param name="gifId" value="#{homeController.selectedGif.id}" />
							</p:graphicImage>
		                </f:facet>
	
						<h:outputText value="Nome:" />
						<h:outputText value="#{homeController.selectedGif.name}" />
	
						<h:outputText value="Gênero:" />
						<h:outputText value="#{homeController.selectedGif.genre.text}" />
	
						<h:outputText value="Classificação Etária:" />
						<h:outputText value="#{homeController.selectedGif.rating}" />
	
						<h:outputText value="Idioma:" />
						<h:outputText value="#{homeController.selectedGif.language.text}" />
						
		            </p:panelGrid>
					<p:commandButton update=":form:gifDetail" actionListener="#{homeController.addFavorite}" icon="ui-icon-star" ajax="false">
	                		<f:setPropertyActionListener value="#{gif}" target="#{homeController.selectedGif}" />
	               	</p:commandButton>
	               
		        </p:outputPanel>
		    </p:dialog>
		
		    <p:dialog header="Assistindo" widgetVar="gifWatchDialog" modal="false" showEffect="fade" hideEffect="fade" resizable="false">
		        <p:outputPanel id="gifWatchDetail" style="text-align:center;">
		            <p:panelGrid columns="2" columnClasses="label,value">
		                <f:facet name="header">
							<p:graphicImage value="#{gifStream.image}" height="500" >
								<f:param name="gifId" value="#{homeController.selectedGif.id}" />
							</p:graphicImage>
		                </f:facet>
		            </p:panelGrid>
		        </p:outputPanel>
		    </p:dialog>
	    </h:form>
	</ui:define>
</ui:composition>