<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
	<link rel="stylesheet" href="/Netgifx/css/login.css" type="text/css" />
</h:head>

<h:body>
	<p:panelGrid columns="1" align="center">
		<h:form
			class="ui raised very padded center aligned text container segment">

			<p:panel id="loginPnl" header="Bem vindo ao Netgifx">

			<p:messages id="messages" />

				<p:panelGrid columns="2" class="noBorders" >

					<p:outputLabel value="Login" for="txtLogin" />
					<p:inputText id="txtLogin" value="#{loginController.login}"
						maxlength="15" width="100" />

					<p:outputLabel value="Senha" for="txtSenha" />
					<p:password id="txtSenha" value="#{loginController.password}"
						maxlength="10" />
				</p:panelGrid>

				<br></br>

				<h:column>
					<p:commandButton value="Login" icon="ui-icon-arrowreturn-1-e"
						action="#{loginController.send}" ajax="false">
					</p:commandButton>
				</h:column>
			</p:panel>

		</h:form>
	</p:panelGrid>
</h:body>
</html>