<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title>NETGIFX</title>
		</f:facet>
		
        <style type="text/css">
            .ui-layout-north {
                z-index:20 !important;
                overflow:visible !important;;
            }
            .ui-layout-north .ui-layout-unit-content {
                overflow:visible !important;
            }
            
            body {
                background-color: #111;
            }
        </style>
	</h:head>

	<h:body>
		<p:layout fullPage="true">

			<p:layoutUnit position="north" size="55" resizable="false"
				closable="false" collapsible="false">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="south" size="40">
				<ui:include src="footer.xhtml" />
			</p:layoutUnit>

			<p:layoutUnit position="center">
				<p:growl id="messagess" autoUpdate="true" />
				<ui:insert name="content" />
			</p:layoutUnit>

		</p:layout>

	</h:body>
</f:view>
</html>