<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">
	<ui:define name="header" />
	<ui:define name="footer" />

	<ui:define name="content">
		<h:form id="form">
		
		   <p:panel header="Criar Categoria" style="margin-bottom:20px">
		        <h:panelGrid columns="4" cellpadding="5">
		            <h:outputLabel for="name" value="Nome:" style="font-weight:bold"/>                    
		            <p:inputText id="name" value="#{categoryController.category.name}" required="true" label="Nome"/>
		            <p:message for="name" />
		            <h:outputText value="#{categoryController.category.name}" />
            
		            <p:commandButton id="btn_reset" value="Limpar" type="reset"/>
		            <p:commandButton id="btn_add" value="Salvar" update="categories @parent" action="#{categoryController.addCategory()}"  >
		                <p:collector value="#{categoryController.category}" addTo="#{categoryController.categoryList}" unique="true"/>
		            </p:commandButton>
		        </h:panelGrid>
		    </p:panel>
		
		    <p:outputPanel id="categories">
		        <p:dataTable value="#{categoryController.categoryList}" var="data" id="categoryTable">
		 
		            <p:column headerText="Código">
		                <h:outputText value="#{data.id}" />
		            </p:column>
		 
		            <p:column headerText="Nome">
		                <h:outputText value="#{data.name}" />
		            </p:column>
		 
		        </p:dataTable>
		    </p:outputPanel>
		</h:form>
	</ui:define>

</ui:composition>